In [1]:
#importando o pandas
import pandas as pd

#carregando o dataframe
carros = pd.read_csv("carros1985.csv", sep=',',na_values="?")

In [2]:
carros.head()

,symboling,normalized-losses,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [3]:
carros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   fuel-type          205 non-null    object
 3   aspiration         205 non-null    object
 4   num-of-doors       203 non-null    object
 5   body-style         205 non-null    object
 6   drive-wheels       205 non-null    object
 7   engine-location    205 non-null    object
 8   wheel-base         205 non-null    float64
 9   length             205 non-null    float64
 10  width              205 non-null    float64
 11  height             205 non-null    float64
 12  curb-weight        205 non-null    int64
 13  engine-type        205 non-null    object
 14  num-of-cylinders   205 non-null    object
 15  engine-size        205 non-null    int64
 16  fuel-system        205 non-null    object
 17  bore               201 non-null    float64
 18  stroke             201 non-null    float64
 19  compression-ratio  205 non-null    float64
 20  horsepower         203 non-null    float64
 21  peak-rpm           203 non-null    float64
 22  city-mpg           205 non-null    int64
 23  highway-mpg        205 non-null    int64
 24  price              201 non-null    float64
dtypes: float64(11), int64(5), object(9)
memory usage: 40.2+ KB

Agora vou trabalhar os valores vazios. 

Aqui depende do objetivo do projeto de machine qual será a nossa ação. Como este é apenas um exercício para treinar a preparação de dados, vou optar por remover todas as linhas que possuem um valor vazio. No caso de dados numericos poderiamos colocar valores médios ou outra estratégia. No caso de valores categóricos normalmente opta-se por remove-los pois não temos como "adivinhar" qual seria a categoria correta.

Vou executar essa tarefa logo no começo do projeto para evitar problemas como criando colunas que são sempre false no processo de one-hot-encoding

In [4]:
carros = carros.dropna()

In [5]:
#Analizando o dataframe novamente, para ver se todos os atributos possuem as mesmas quantidades de linhas
carros.info()

<class 'pandas.core.frame.DataFrame'>
Index: 159 entries, 3 to 204
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          159 non-null    int64
 1   normalized-losses  159 non-null    float64
 2   fuel-type          159 non-null    object
 3   aspiration         159 non-null    object
 4   num-of-doors       159 non-null    object
 5   body-style         159 non-null    object
 6   drive-wheels       159 non-null    object
 7   engine-location    159 non-null    object
 8   wheel-base         159 non-null    float64
 9   length             159 non-null    float64
 10  width              159 non-null    float64
 11  height             159 non-null    float64
 12  curb-weight        159 non-null    int64
 13  engine-type        159 non-null    object
 14  num-of-cylinders   159 non-null    object
 15  engine-size        159 non-null    int64
 16  fuel-system        159 non-null    object
 17  bore               159 non-null    float64
 18  stroke             159 non-null    float64
 19  compression-ratio  159 non-null    float64
 20  horsepower         159 non-null    float64
 21  peak-rpm           159 non-null    float64
 22  city-mpg           159 non-null    int64
 23  highway-mpg        159 non-null    int64
 24  price              159 non-null    float64
dtypes: float64(11), int64(5), object(9)
memory usage: 32.3+ KB

Analisando os dados categoricos ordinais
Temos `num-of-doors` e `num-of-cylinders`

In [6]:
#Tem que ser um de cada vez, tentei varios value_counts() na mesma célula mas só mostrou o último
carros['num-of-doors'].value_counts()

num-of-doors
four    95
two     64
Name: count, dtype: int64

In [7]:
carros['num-of-cylinders'].value_counts()

num-of-cylinders
four     136
six       14
five       7
three      1
eight      1
Name: count, dtype: int64

In [8]:
#Criando mappers
num_of_cylinders_mapper = {"two": 2, "three":3, "four": 4, "five": 5, "six": 6, "eight": 8, "twelve": 12}
num_of_doors_mapper = {"two": 2, "four": 4}

In [9]:
#Utilizando o metodo replace para os mappers
carros['num-of-cylinders'] = carros["num-of-cylinders"].replace(num_of_cylinders_mapper)
carros['num-of-doors'] = carros["num-of-doors"].replace(num_of_doors_mapper)

In [10]:
#Analizando o dataframe novamente, para ver se as colunas num-of-doors e 
#num-of-cylinders deixaram de ser object
carros.info()

<class 'pandas.core.frame.DataFrame'>
Index: 159 entries, 3 to 204
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          159 non-null    int64
 1   normalized-losses  159 non-null    float64
 2   fuel-type          159 non-null    object
 3   aspiration         159 non-null    object
 4   num-of-doors       159 non-null    int64
 5   body-style         159 non-null    object
 6   drive-wheels       159 non-null    object
 7   engine-location    159 non-null    object
 8   wheel-base         159 non-null    float64
 9   length             159 non-null    float64
 10  width              159 non-null    float64
 11  height             159 non-null    float64
 12  curb-weight        159 non-null    int64
 13  engine-type        159 non-null    object
 14  num-of-cylinders   159 non-null    int64
 15  engine-size        159 non-null    int64
 16  fuel-system        159 non-null    object
 17  bore               159 non-null    float64
 18  stroke             159 non-null    float64
 19  compression-ratio  159 non-null    float64
 20  horsepower         159 non-null    float64
 21  peak-rpm           159 non-null    float64
 22  city-mpg           159 non-null    int64
 23  highway-mpg        159 non-null    int64
 24  price              159 non-null    float64
dtypes: float64(11), int64(7), object(7)
memory usage: 32.3+ KB

Analisando os dados categoricos não-ordinais. 
Temos `fuel-type`, `aspiration`, `body-style`, `drive-wheels`, `engine-location`, `engine-type` e `fuel-system`

In [11]:
carros['fuel-type'].value_counts()

fuel-type
gas       144
diesel     15
Name: count, dtype: int64

In [12]:
carros['aspiration'].value_counts()

aspiration
std      132
turbo     27
Name: count, dtype: int64

In [13]:
carros['body-style'].value_counts()

body-style
sedan          79
hatchback      56
wagon          17
hardtop         5
convertible     2
Name: count, dtype: int64

In [14]:
carros['drive-wheels'].value_counts()

drive-wheels
fwd    105
rwd     46
4wd      8
Name: count, dtype: int64

In [15]:
carros['engine-location'].value_counts()

engine-location
front    159
Name: count, dtype: int64

In [16]:
carros['engine-type'].value_counts()

engine-type
ohc     123
ohcf     12
l         8
dohc      8
ohcv      8
Name: count, dtype: int64

In [17]:
carros['fuel-system'].value_counts()

fuel-system
mpfi    64
2bbl    63
idi     15
1bbl    11
spdi     5
mfi      1
Name: count, dtype: int64

In [18]:
#Fazendo o one-hot-encoding para o os campos analizados anteriormente
carros= pd.get_dummies(carros, columns=['fuel-type'])
carros= pd.get_dummies(carros, columns=['aspiration'])
carros= pd.get_dummies(carros, columns=['body-style'])
carros= pd.get_dummies(carros, columns=['drive-wheels'])
carros= pd.get_dummies(carros, columns=['engine-location'])
carros= pd.get_dummies(carros, columns=['engine-type'])
carros= pd.get_dummies(carros, columns=['fuel-system'])

In [19]:
#Analizando o dataframe novamente, para ver se ficou algum dado do tipo object (valores categoricos)
carros.info()

<class 'pandas.core.frame.DataFrame'>
Index: 159 entries, 3 to 204
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   symboling               159 non-null    int64
 1   normalized-losses       159 non-null    float64
 2   num-of-doors            159 non-null    int64
 3   wheel-base              159 non-null    float64
 4   length                  159 non-null    float64
 5   width                   159 non-null    float64
 6   height                  159 non-null    float64
 7   curb-weight             159 non-null    int64
 8   num-of-cylinders        159 non-null    int64
 9   engine-size             159 non-null    int64
 10  bore                    159 non-null    float64
 11  stroke                  159 non-null    float64
 12  compression-ratio       159 non-null    float64
 13  horsepower              159 non-null    float64
 14  peak-rpm                159 non-null    float64
 15  city-mpg                159 non-null    int64
 16  highway-mpg             159 non-null    int64
 17  price                   159 non-null    float64
 18  fuel-type_diesel        159 non-null    bool
 19  fuel-type_gas           159 non-null    bool
 20  aspiration_std          159 non-null    bool
 21  aspiration_turbo        159 non-null    bool
 22  body-style_convertible  159 non-null    bool
 23  body-style_hardtop      159 non-null    bool
 24  body-style_hatchback    159 non-null    bool
 25  body-style_sedan        159 non-null    bool
 26  body-style_wagon        159 non-null    bool
 27  drive-wheels_4wd        159 non-null    bool
 28  drive-wheels_fwd        159 non-null    bool
 29  drive-wheels_rwd        159 non-null    bool
 30  engine-location_front   159 non-null    bool
 31  engine-type_dohc        159 non-null    bool
 32  engine-type_l           159 non-null    bool
 33  engine-type_ohc         159 non-null    bool
 34  engine-type_ohcf        159 non-null    bool
 35  engine-type_ohcv        159 non-null    bool
 36  fuel-system_1bbl        159 non-null    bool
 37  fuel-system_2bbl        159 non-null    bool
 38  fuel-system_idi         159 non-null    bool
 39  fuel-system_mfi         159 non-null    bool
 40  fuel-system_mpfi        159 non-null    bool
 41  fuel-system_spdi        159 non-null    bool
dtypes: bool(24), float64(11), int64(7)
memory usage: 27.3 KB